<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="def.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>

    </header>
    <div id="type-first-top">
    <h1>タイピングゲーム</h1>
    <h6>作者_俺</h6>
    <h1><a href="/type">ゲームを遊ぶ</h1></a>
    <h3 id="ranking"><a href="/ranking">ランキングを表示する</h3></a>
    </div>

</body>
</html>