<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイピングゲーム</title>
    <link rel="stylesheet" href="def.css">
    <link rel="stylesheet" href="type.css">
    
</head>
<div class="header"><a href="/">戻る</a></div>
<body>
    <div id="input"></div>
<input id="type"  type="text" size="30" oninput="timeset()"> 
<button id="btn" onclick="enter()">入力</button>
<div id="time">00:00:00.000</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="TypeGame.js"></script>
</body>
</html>
